
@font-face {
    font-family: "IranSans";
    src:
      url("fonts/IranSans.woff2") format("woff2"),
      url("fonts/IranSans.woff") format("woff");
  }

@font-face {
    font-family: "Vazir.ttf";
    src: url("../assets/Vazir.ttf"),
    url("../assets/Vazir.otf");
}

body {
    background-color: rgb(24, 33, 33);
    color: aqua;
    font-family: arial;
    font-size: 16px;
    margin: 10px 35px 20px 35px;
}

.textdecor:is(h1) {
    font-weight: 700;
    margin: 40px 1px;
    /*  [top,right,bottom,left]
        [top,right,bottom the left will be equal to right]
        [topbottom,rightleft] */
    font-size: 36px;
}

.textdecor {
    font-family: segoe UI;
    text-decoration: none;
    list-style: none;
    padding: unset;
}

#navbar {
    margin-bottom: 50px;
}

#navbartext {
    font-size: 20px;
    font-weight: 600;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.single-line {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* [ellipsis,clip,string] */
}

/* border: width style(dotted-dashed-solid-double-groove-ridge) color */

input:focus {
    outline-color: #ff0000;
    background-color: #d13a3a;
    color: aqua;
}

label {
    font-size: 0.9rem;
    line-height: 150%;
}
/*
it does it for 1 input element:

document.querySelector("input").addEventListener("focus", function (e) {
    e.target.style.backgroundColor = "#d7c2c2"; // Set color on focus
});

document.querySelector("input").addEventListener("blur", function (e) {
    e.target.style.backgroundColor = "#d7c2c2"; // Reset color when losing focus
});

it does it for multiple input element:

document.querySelectorAll("input").forEach(input => {
    input.addEventListener("focus", function (e) {
        e.target.style.backgroundColor = "#d7c2c2";
    });

    input.addEventListener("blur", function (e) {
        e.target.style.backgroundColor = "#d7c2c2";
    });
});

*/
